<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links</title>
    <link rel="stylesheet" href="./link.css">
</head>
<body>
    <header>
        <nav>
            <div>
                <img src="../../images/logo.svg" alt="Main Logo">
                <h1 class="company-name">Caoucks <span>Fompalt</span></h1>
            </div>
            <ul>
                <li><a href="">...</a></li>
                <li><a href="">...</a></li>
                <li><a href="">...</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <a href="">Add Students</a>
        <a href="">View Student List</a>
        <a href="">Logout</a>
    </main>
</body>
</html>