<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./student.css">
</head>
<body>

    <header>
        <nav>
            <div>
                <img src="../../images/logo.svg" alt="Main Logo">
                <h1 class="company-name">Caoucks <span>Fompalt</span></h1>
            </div>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="../login/login.html">Login</a></li>
                <li><a href="">List of Students</a></li>
            </ul>
        </nav>
    </header>

    <form action="">
        <h1>Add new Student</h1>
        <div>
            <label for="firstname">First Name:</label>
            <input type="text" name="" id="firstname">
        </div>

        <div>
            <label for="lastname">Last Name:</label>
            <input type="text" name="" id="lastname">
        </div>

        <div>
            <label for="address">Address:</label>
            <input type="text" name="" id="address">
        </div>

        <div>
            <label for="firstname">First Name:</label>
            <input type="text" name="" id="firstname">
        </div>

        <div>
            <label for="phone">Phone</label>
            <input type="tel" name="" id="phone">
        </div>

        <button type="submit">Save</button>
    </form>
</body>
</html>