<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    <link rel="stylesheet" href="./data.css">
</head>
<body>

    <header>
        <nav>
            <div>
                <img src="../../images/logo.svg" alt="Main Logo">
            </div>
        </nav>
    </header>

    <section class="main-second">
        <h3>List of Students</h3>
        <table>
            <thead>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Phone Number</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Edafe</td>
                    <td>Moses</td>
                    <td>21/23, Nepa Line, Effurun</td>
                    <td>+234 704 618 8730</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Enakireru</td>
                    <td>Joseph</td>
                    <td>21/23, Nepa Line, Effurun</td>
                    <td>+234 703 460 2330</td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>