<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="icon" url="" />
    <title>TivoApp</title>
  </head>
  <body>
    <section>
      <form action="">
        <h1>Login Form</h1>
        <div>
          <label for="firstname">Username</label>
          <div class="form-username">
            <img src="./images/userlogo.png" alt="User Logo" />
            <input type="text" id="firstname" required autofocus />
          </div>
        </div>
        <div>
          <label for="lastname">Password</label>
          <div class="form-username">
            <img src="./images/lock.png" alt="Password Logo" />
            <input type="password" id="lastname" required autofocus />
          </div>
        </div>
        <button type="submit">Log In</button>
      </form>
    </section>
  </body>
</html>
