<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./login.css">
</head>
<body>
    <section>
        <form action="../LinkPage/link.html">
            <h1>Login Form</h1>
            <div>
                <label for="username">Username</label>
                <div class="form-username">
                    <img src="../../images/loginImage/userlogo.png" alt="User Logo">
                    <input type="text" id="username" required autofocus>
                </div>
            </div>
            <div>
                <label for="password">Password</label>
                <div class="form-username">
                    <img src="../../images/loginImage/lock.png" alt="Password Logo">
                    <input type="password" id="password" required autofocus>
                </div>
            </div>
            <button type="submit">Log In</button>
        </form>
    </section>

    <script>
        
    </script>
</body>
</html>