<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./dashboard.css">
</head>
<body>
    <header>
        <nav>
            <div class="title-logo">
                <img src="../../images/logo.svg" alt="">
                <h1>DASHBOARD</h1>
            </div>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Add Product</a></li>
                <li><a href="">Product Manager</a></li>
                <li><a href="">Orders Management</a></li>
                <li><a href="">Store Inventory</a></li>
                <li><a href="">Settings</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Caoucks Formpalt Store</h2>
        <section id="summary"></section>
        <section class="main-second">
            <h3>List of Products</h3>
            <table>
                <thead>
                    <th>S/N</th>
                    <th>Product Name</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th></th>
                    <th></th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Bread</td>
                        <td><img src="" alt="..."></td>
                        <td>Carbonhydrate</td>
                        <td>1500</td>
                        <td>12</td>
                        <td>EDIT</td>
                        <td>DELETE</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Beans</td>
                        <td><img src="" alt="..."></td>
                        <td>Protein</td>
                        <td>3000</td>
                        <td>12</td>
                        <td>EDIT</td>
                        <td>DELETE</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <script src="./dash.js"></script>
</body>
</html>